<div th:fragment="fragment">
    <div class="container-fluid">
        <div class="row py-3 border-bottom justify-content-between">
            <div class="col-sm-4 col-lg-3 text-center text-sm-start">
                <div class="main-logo">
                    <a href="/" style="font-weight: bold;">분리수거</a>
                </div>
            </div>
            <nav class="main-menu navbar navbar-expand-lg col-sm-8 col-lg-4 d-flex justify-content-end gap-5 align-items-center mt-4 mt-sm-0 justify-content-center justify-content-sm-end">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header justify-content-center">
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body justify-content-end">
                        <ul class="navbar-nav justify-content-end menu-list list-unstyled d-flex gap-md-3 mb-0">
                            <li class="nav-item"><a class="nav-link" th:href="@{/signup}">회원가입</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/locations}">수거함 찾기</a></li>
                            <!--<li class="nav-item"><a class="nav-link" th:href="@{/reviews}">후기 보기</a></li>-->
                            <li class="nav-item"><a class="nav-link" th:href="@{/favorites}">즐겨찾기</a></li>
                            <li class="nav-item" th:if="${loginUser == null}"><a class="nav-link" th:href="@{/login}">로그인</a></li>
                            <li class="nav-item" th:if="${loginUser != null}"><a class="nav-link" th:href="@{/logout}">로그아웃</a></li>
                            <!--<li class="nav-item" th:if="${loginUser != null}"><p th:text="'로그인된 사용자: ' + ${loginUser.nickname}"></p></li>-->
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>

</div>
