<html xmlns:th="http://www.thymeleaf.org">
<!-- include header -->
<th:block th:replace="fragments/header :: fragment"></th:block>

<!-- include menu -->
<th:block th:replace="fragments/menu :: fragment"></th:block>

<body class="container py-5">
<h1>회원가입</h1>
<form th:action="@{/signup}" th:object="${user}" method="post">
    <label>이메일: <input type="email" th:field="*{email}" required/></label><br/>
    <label>비밀번호: <input type="password" th:field="*{password}" required/></label><br/>
    <label>닉네임: <input type="text" th:field="*{nickname}" required/></label><br/>
    <button type="submit">가입하기</button>
</form>
</body>
<!-- include footer -->
<th:block th:replace="fragments/footer :: fragment"></th:block>
</html>